In [1]:
#Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

#Study data files
mouse_metadata_path = "resources/Mouse_metadata.csv"
study_results_path = "resources/Study_results.csv"

#Read the mouse data and the study results
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
study_results_df = pd.read_csv(study_results_path)

#Combine the data into a single dataset
mouse_study_df = mouse_metadata_df.merge(study_results_df, on = 'Mouse ID')

#Display the data table for preview
mouse_study_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
#Check # of mice
mice_count = mouse_study_df["Mouse ID"].count()
mice_count

1893

In [4]:
#Get the duplicate mice by ID # that shows up for Mouse ID & Timepoint
dup_mouse = mouse_study_df.loc(mouse_study_df.duplicated(subset=['Mouse ID', 'Timepoint',])

SyntaxError: unexpected EOF while parsing (<ipython-input-4-3ecad1c331c1>, line 2)

In [5]:
#Optional: Get all the data for the duplicate mouse id

In [6]:
#Create clean DF by dropping the duplicate mouse by its id
mouse_study_df.drop_duplicates(subset=None, keep=’first’, inplace=False)

SyntaxError: invalid character in identifier (<ipython-input-6-01ac44c72126>, line 2)

In [7]:
#Check # of mice in clean data frame
clean_mice_df = clean_mice_df.count()
clean_mice_df

NameError: name 'clean_mice_df' is not defined

In [8]:
#Generate a summary statistics table of mean, median, variance, st dev, & SEM of the tumor vol. for each regimen

#Straightforward method
mouse_study_df.describe()
mouse_study_df.sem()

Age_months            0.165245
Weight (g)            0.090134
Timepoint             0.323602
Tumor Volume (mm3)    0.204436
Metastatic Sites      0.026155
dtype: float64

In [ ]:
#Summary stats table using groupby function